header.header-about{
  display:block;
  background-image: url('../imgs/about/header-bg.jpg');
  padding-bottom:220px;
}
.page-about{
  margin-top: 35px;
  text-align: center;
  h3,h1{
    line-height: 1.5em;
    font-weight: bold;
  }
  .thai-content{
    margin: auto;
    max-width: 800px;
    line-height: 1.5em;
    font-size: 18px;

  }
  .before-eng-content{
    margin-top: 30px;
    font-weight: bold;
    line-height: 2em;
    font-size: 18px;
  }
  .eng-content{
    margin: auto;
    max-width: 800px;
  }
  .social-link{
    a{
      display: inline-block;
      background-repeat: no-repeat;
      width: 49px;
      height: 49px;
      margin: 20px 10px;
    }
    .facebook{
      background-image: url('../imgs/about/icon-facebook.png');
    }
    .twitter{
      background-image: url('../imgs/about/icon-twitter.png');
    }
    .instagram{
      background-image: url('../imgs/about/icon-instagram.png');
    }
    }
}
