header.header-bloglist{
	display:block;
	background-image: url('../imgs/blog/header-bg.jpg');
	height:100%;
	.hero-header{
		text-align:center;
		padding-top:10%;
		h1{
			font-weight:bold;
			font-size: 30px;
		}
		p{
			font-size: 16px;
			max-width:380px;
			margin:auto;
		}
	}
	.btnScrollDown{
		display:block;
		width:100%;
		height:40px;
		background-image: url('../imgs/blog/arrow-down.png');
		background-position:center center;
		background-repeat: no-repeat;
		position:absolute;
		bottom:20px;
		left:0;
	}
}
@media (min-width: 768px){
	header.header-bloglist{
		.hero-header{
			h1{
				font-size: 50px;
			}
			p{
				font-size: 20px;
				max-width: 100%;
				span{
					display:block;
				}
			}
		}
	}
}
@media (min-width: 992px){
	header.header-bloglist{
		.hero-header{
			h1{
				font-size: 70px;
			}
			p{
				font-size: 30px;
			}
		}
	}
}

.blog-list{
	padding: 50px 0 0 0;
	.blog-item{
		margin:40px auto;
    	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		&:hover{
			background-color: $orange-color;
			.blog-thumb{
			    background-color:#000;
			    img{
			    	opacity:0.5;
			    }
				.blog-circle-group{
					display:block;
				}
			}
		}
		.white-bg{
			background-color:#ffffff;
			&:after{
				content: '';
				display:block;
				clear:both;
			}
		}
		.blog-thumb,.blog-content{
			display:block;
		}
		.blog-thumb{
			position:relative;
			width:100%;
			border-radius: 0;
	    	transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			img{
		    	transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				border-radius: 0;
			}
			.blog-circle-group{
				display:none;
		    	transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				position:absolute;
				top:50%;
				margin-top:-29px;
				width:100%;
				text-align:center;
			}
			.btn-circle{
				display:inline-block;
				width:58px;
				height:58px;
				margin:0 10px;
			}
			.btn-plus{
				background-image: url('../imgs/blog/icon-plus.png');
			}
			.btn-share{
				background-image: url('../imgs/blog/icon-share.png');
			}
		}
		.blog-content{
			width:100%;
			padding: 0px 50px;
			text-align:center;
			h2{
				font-weight:bold;
				a{
					color:#000000;
				}
			}
			p{
				font-size:18px;
				line-height:30px;
				padding-top:12px;
			}
			.sociallist{
				text-align:center;
				margin-top:20px;
				.icon{
					display:inline-block;
					width:28px;
					height:28px;
					margin:0 10px;
					opacity:0.7;
			    	transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					&:hover{
						opacity:1;
					}
				}
				.icon-facebook{
					background-image: url('../imgs/blog/facebook.png');
				}
				.icon-twitter{
					background-image: url('../imgs/blog/twitter.png');
				}
				.icon-instagram{
					background-image: url('../imgs/blog/instagram.png');
				}
			}
		}
	}
	.blog-even{
		.blog-thumb,.blog-content{
			float:left;
		}
	}
	.blog-odd{
		.blog-thumb,.blog-content{
			float:right;
		}
	}
	.list-pager{
		display:block;
		margin:auto;
		text-align:center;
		font-size:20px;
		margin-top:20px;
		ul{
			list-style:none;
			margin:0;
			padding:0;
			li{
				display:inline-block;
				a{
					color: #666666;
					font-weight:bold;
					padding:10px;
					&:hover{
						color: $orange-color;
					}
				}
			}
		}
	}
}
@media (min-width: 992px){
	.blog-list{
		.blog-item{
			.blog-thumb,.blog-content{
				float:left;
			}
			.blog-thumb{
				width:55%;
			}
			.blog-content{
				width:45%;
			}
		}
		.blog-even{
			.blog-thumb,.blog-content{
				float:left;
			}
			.blog-thumb{
				border-radius: 0 60px 0 0;
				img{
					border-radius: 0 60px 0 0;
				}
			}
		}
		.blog-odd{
			.blog-thumb,.blog-content{
				float:right;
			}
			.blog-thumb{
				border-radius: 60px 0 0 0;
				img{
					border-radius: 60px 0 0 0;
				}
			}
		}
	}
}
