header.header-blogdetail{
	display:block;
	background-image: url('../imgs/blog/header-detail-bg.jpg');
	padding-bottom:40px;
}
.blog-detail{
  margin-top: 65px;
  h1{
    color: $orange-color;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  .content{
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    margin: auto;
    margin-top: 50px;
    max-width: 800px;
  }
  img{
    display: block;
    margin: 50px auto ;
    }
    p{
      margin: 20px 0 10px 0;
    }
		.social-link{
			text-align: center;
	    a{
	      display: inline-block;
	      background-repeat: no-repeat;
	      width: 92px;
	      height: 33px;
	      margin: 20px 0;
	    }
	    .facebook{
	      background-image: url('../imgs/blog/share-facebook.png');
	    }
	    .twitter{
	      background-image: url('../imgs/blog/share-twitter.png');
	    }
	    .in{
	      background-image: url('../imgs/blog/share-linkedin.png');
	    }
	    }
}
