header.header-contact{
	display:block;
	background-image: url('../imgs/contact/header-bg.jpg');
	padding-bottom:220px;
}
.page-contact{
	a{
		color:#000000;
		&:hover{
			color:$orange-color;
		}
	}
	.container{
		margin-bottom: 60px;
	}
	h1{
		margin-top: 80px;
		font-weight: bold;
		text-align: center;
	}
	.contact-content{
		&:after{
			content:"";
			display: block;
			clear: both;
		}
	}
	.content, .map{
		display: block;
		float: left;
	}
	.content{
		margin-top: 50px;
		width: 100%;
		font-size: 18px;
		.contact-into{
		margin: 15px 0;
		font-weight: bold;
		}
		.contact-telmail{
			margin-bottom: 60px;
		}
		.contact-social{
			margin: 60px 0;
		}
		.contact-address{
			margin-top: 60px;
		}
	}
	.map{
		width: 100%;
		background-color: #333;
		height: 300px;;
		margin: 50px 0;
	}
}
	@media (min-width: 992px){
		.page-contact{
			.content{
				width: 40%;
				margin-top: 50px;
				}
			.map{
				width: 60%;
				height: 410px;;
				margin-top: 50px;			
			}
		}
	}
