
@font-face {
  font-family: 'thaisansneue';
  src: url('../fonts/thaisansneue-regular-webfont.eot');
  src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/thaisansneue-regular-webfont.woff2') format('woff2'), 
      url('../fonts/thaisansneue-regular-webfont.woff') format('woff'), 
      url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype'), 
      url('../fonts/thaisansneue-regular-webfont.svg#thaisansneue_regularwebfont') format('svg');
  font-weight:normal;
  font-style:normal;

}
@font-face {
  font-family: 'thaisansneue';
  src: url('../fonts/thaisansneue-bold-webfont.eot');
  src: url('../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/thaisansneue-bold-webfont.woff2') format('woff2'), 
      url('../fonts/thaisansneue-bold-webfont.woff') format('woff'), 
      url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype'), 
      url('../fonts/thaisansneue-bold-webfont.svg#thaisansneue_boldwebfont') format('svg');
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family: 'thaisansneue';
  src: url('../fonts/thaisansneue-light-webfont.eot');
  src: url('../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/thaisansneue-light-webfont.woff2') format('woff2'), 
      url('../fonts/thaisansneue-light-webfont.woff') format('woff'), 
      url('../fonts/thaisansneue-light-webfont.ttf') format('truetype'), 
      url('../fonts/thaisansneue-light-webfont.svg#thaisansneue_boldwebfont') format('svg');
  font-weight:normal;
  font-style:normal;
}