*{
  font-family: thaisansneue;
}
html, body {
    height: 100%;
}
img{
	max-width:100%;
}
body{
	overflow-x: hidden;
	position: relative;
	left: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	&.menu-push-toleft {
		left: -240px;
	}
}
header{
	background-position: center center;
	background-size: cover;
	color: #ffffff;
	&:after{
		content: '';
		display:block;
		clear:both;
	}
	a{
		color: #ffffff;
		&.active, &:hover, &:focus{
			color: $orange-color;
		}
	}
	.logo{
		background: url('../imgs/masterpage/logo.png');
		display:inline-block;
		width:167px;
		height:51px;
		margin-top:40px;
	}
	#showMenu{
		display:block;
		position:absolute;
		outline: none;
		right:30px;
		top:50px;
		margin:0;
		border:0;
		border-radius: 30px;
		width:40px;
		height:40px;
		text-indent:-10000px;
		z-index:1000;
		background: #ffffff;
    	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		&:hover{
			top:40px;
			right:20px;
			width:60px;
			height:60px;
			.icon-bar {
			    background-color: lighten($orange-color, 10%);
			}
		}
		.icon-bar {
		    display: block;
		    width: 22px;
		    height: 2px;
		    border-radius: 1px;
		    background-color: $orange-color;
		    margin:auto;
		}
	    .icon-bar+.icon-bar {
		    margin-top: 4px;
		}
	}
	#main-menu{
		width: 240px;
		height: 100%;
		top: 0;
		z-index: 1000;
		position: fixed;
		right: -240px;
		background: #333333;
    	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		&.menu-open {
			right: 0px;
		}
		ul{
			list-style:none;
			margin:0;
			padding:0;
			padding-top:20px;
			li{
				font-size:18px;
				display:block;
				a{
					color: #ffffff;;
					display:block;
					padding:20px;
			    	transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					&:hover, &.active{
						background-color: $orange-color;
						color: #ffffff;
						text-decoration:none;
					}
				}
			}
		}
	}
}
footer{
	ul{
		list-style:none;
		margin:0;
		padding:0;
	}
	#footer-top{
		background: url('../imgs/masterpage/footer-bg.jpg') top center;
		background-size: cover;
		color:$footer-text-color;
		padding:30px 0 15px 0;
		text-align:center;
		h2{
			margin:0;
			padding:0;
			padding-bottom:10px;
			font-size:25px;
		}
		li{
			font-size:18px;
			padding-bottom:10px;
			a{
				color: $footer-text-color;
			}
		}
	}
	#footer-bottom{
		background:$footer-reserve-bg-color;
		color:$footer-reserve-text-color;
		text-align:center;
		padding-top:20px;
		#footer-menu{
			ul{
				display:block;
				padding-bottom:10px;
			}
			li{
				display:inline-block;
				a{
					color: $footer-reserve-text-color;
					padding:3px 10px;
					&:hover{
						color: $footer-reserve-text-active-color;
						text-decoration:none;
					}
				}
			}
		}
		.reserve-text{
			padding-bottom:10px;
		}
	}
}
@media (min-width: 992px){
	body{
		&.menu-push-toleft {
			left: 0;
		}
	}
	header{
		#showMenu{
			display:none;
		}
		#main-menu{
			width: auto;
			height: auto;
			top: auto;
			right: auto;
			background: transparent;
			float:right;
			display:block;
			position:relative;
			padding-top:50px;
			&.menu-open {
				right: 0px;
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					font-size:16px;
					display:inline-block;
					a{
						padding:8px 20px;
				    	transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
						&.active, &:hover{
							color:$orange-color;
							background-color: transparent;
							text-decoration:none;
						}
						&.menu-register{
							border:2px solid $orange-color;
							border-radius: 30px;
							&:hover{
								border:2px solid #ffffff;
								background: $orange-color;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
	footer{
		.footer-logo, .footer-contact{
			display:block;
			float:left;
		}
		.footer-logo{
			width:60%;
			padding-top:30px;
		}
		.footer-contact{
			width:40%;
			text-align:left;
		}
		#footer-bottom{
			#footer-menu{
				float:right;
			}
			.reserve-text{
				text-align:left;
			}
		}
    }
}