#subscribe-container{
	text-align:center;
	padding:50px 0;
	h2{
		font-weight:bold;
		font-size:25px;
		color: #444444;
		margin-bottom:30px;
	}
	.subscribe-form{
    	width:100%;
    	max-width:470px;
    	margin:auto;
    	position:relative;
	}
	.inp-subscribe, .btn-subscribe{
    	display:block;
		outline: none;
    	height:45px;
    	line-height:45px;
	}
	.inp-subscribe{
		width:100%;
		border: 2px solid #d7d7d7;
    	border-radius: 10px;
    	padding:0 10px;
    	padding-right:180px;
	}
	.btn-subscribe{
		float:right;
		position:absolute;
		top:0;
		right:0;
		border:0;
    	border-radius: 0 10px 10px 0;
    	width:180px;
    	text-align:center;
		background-color:$orange-color;
		font-weight:bold;
		font-size:18px;
		color: #ffffff;
    	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		&:hover, &:focus{
			background-color: lighten( $orange-color, 10% );
		}
	}
}