@font-face {
  font-family: 'thaisansneue';
  src: url("../fonts/thaisansneue-regular-webfont.eot");
  src: url("../fonts/thaisansneue-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-regular-webfont.woff2") format("woff2"), url("../fonts/thaisansneue-regular-webfont.woff") format("woff"), url("../fonts/thaisansneue-regular-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-regular-webfont.svg#thaisansneue_regularwebfont") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'thaisansneue';
  src: url("../fonts/thaisansneue-bold-webfont.eot");
  src: url("../fonts/thaisansneue-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-bold-webfont.woff2") format("woff2"), url("../fonts/thaisansneue-bold-webfont.woff") format("woff"), url("../fonts/thaisansneue-bold-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-bold-webfont.svg#thaisansneue_boldwebfont") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'thaisansneue';
  src: url("../fonts/thaisansneue-light-webfont.eot");
  src: url("../fonts/thaisansneue-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-light-webfont.woff2") format("woff2"), url("../fonts/thaisansneue-light-webfont.woff") format("woff"), url("../fonts/thaisansneue-light-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-light-webfont.svg#thaisansneue_boldwebfont") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: thaisansneue; }

html, body {
  height: 100%; }

img {
  max-width: 100%; }

body {
  overflow-x: hidden;
  position: relative;
  left: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }
  body.menu-push-toleft {
    left: -240px; }

header {
  background-position: center center;
  background-size: cover;
  color: #ffffff; }
  header:after {
    content: '';
    display: block;
    clear: both; }
  header a {
    color: #ffffff; }
    header a.active, header a:hover, header a:focus {
      color: #d93c00; }
  header .logo {
    background: url("../imgs/masterpage/logo.png");
    display: inline-block;
    width: 167px;
    height: 51px;
    margin-top: 40px; }
  header #showMenu {
    display: block;
    position: absolute;
    outline: none;
    right: 30px;
    top: 50px;
    margin: 0;
    border: 0;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    text-indent: -10000px;
    z-index: 1000;
    background: #ffffff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    header #showMenu:hover {
      top: 40px;
      right: 20px;
      width: 60px;
      height: 60px; }
      header #showMenu:hover .icon-bar {
        background-color: #ff500d; }
    header #showMenu .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #d93c00;
      margin: auto; }
    header #showMenu .icon-bar + .icon-bar {
      margin-top: 4px; }
  header #main-menu {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    right: -240px;
    background: #333333;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    header #main-menu.menu-open {
      right: 0px; }
    header #main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 20px; }
      header #main-menu ul li {
        font-size: 18px;
        display: block; }
        header #main-menu ul li a {
          color: #ffffff;
          display: block;
          padding: 20px;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease; }
          header #main-menu ul li a:hover, header #main-menu ul li a.active {
            background-color: #d93c00;
            color: #ffffff;
            text-decoration: none; }

footer ul {
  list-style: none;
  margin: 0;
  padding: 0; }
footer #footer-top {
  background: url("../imgs/masterpage/footer-bg.jpg") top center;
  background-size: cover;
  color: #ffffff;
  padding: 30px 0 15px 0;
  text-align: center; }
  footer #footer-top h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 25px; }
  footer #footer-top li {
    font-size: 18px;
    padding-bottom: 10px; }
    footer #footer-top li a {
      color: #ffffff; }
footer #footer-bottom {
  background: #111111;
  color: #999999;
  text-align: center;
  padding-top: 20px; }
  footer #footer-bottom #footer-menu ul {
    display: block;
    padding-bottom: 10px; }
  footer #footer-bottom #footer-menu li {
    display: inline-block; }
    footer #footer-bottom #footer-menu li a {
      color: #999999;
      padding: 3px 10px; }
      footer #footer-bottom #footer-menu li a:hover {
        color: #ffffff;
        text-decoration: none; }
  footer #footer-bottom .reserve-text {
    padding-bottom: 10px; }

@media (min-width: 992px) {
  body.menu-push-toleft {
    left: 0; }

  header #showMenu {
    display: none; }
  header #main-menu {
    width: auto;
    height: auto;
    top: auto;
    right: auto;
    background: transparent;
    float: right;
    display: block;
    position: relative;
    padding-top: 50px; }
    header #main-menu.menu-open {
      right: 0px; }
    header #main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header #main-menu ul li {
        font-size: 16px;
        display: inline-block; }
        header #main-menu ul li a {
          padding: 8px 20px;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease; }
          header #main-menu ul li a.active, header #main-menu ul li a:hover {
            color: #d93c00;
            background-color: transparent;
            text-decoration: none; }
          header #main-menu ul li a.menu-register {
            border: 2px solid #d93c00;
            border-radius: 30px; }
            header #main-menu ul li a.menu-register:hover {
              border: 2px solid #ffffff;
              background: #d93c00;
              color: #ffffff; }

  footer .footer-logo, footer .footer-contact {
    display: block;
    float: left; }
  footer .footer-logo {
    width: 60%;
    padding-top: 30px; }
  footer .footer-contact {
    width: 40%;
    text-align: left; }
  footer #footer-bottom #footer-menu {
    float: right; }
  footer #footer-bottom .reserve-text {
    text-align: left; } }
#subscribe-container {
  text-align: center;
  padding: 50px 0; }
  #subscribe-container h2 {
    font-weight: bold;
    font-size: 25px;
    color: #444444;
    margin-bottom: 30px; }
  #subscribe-container .subscribe-form {
    width: 100%;
    max-width: 470px;
    margin: auto;
    position: relative; }
  #subscribe-container .inp-subscribe, #subscribe-container .btn-subscribe {
    display: block;
    outline: none;
    height: 45px;
    line-height: 45px; }
  #subscribe-container .inp-subscribe {
    width: 100%;
    border: 2px solid #d7d7d7;
    border-radius: 10px;
    padding: 0 10px;
    padding-right: 180px; }
  #subscribe-container .btn-subscribe {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0 10px 10px 0;
    width: 180px;
    text-align: center;
    background-color: #d93c00;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    #subscribe-container .btn-subscribe:hover, #subscribe-container .btn-subscribe:focus {
      background-color: #ff500d; }

header.header-bloglist {
  display: block;
  background-image: url("../imgs/blog/header-bg.jpg");
  height: 100%; }
  header.header-bloglist .hero-header {
    text-align: center;
    padding-top: 10%; }
    header.header-bloglist .hero-header h1 {
      font-weight: bold;
      font-size: 30px; }
    header.header-bloglist .hero-header p {
      font-size: 16px;
      max-width: 380px;
      margin: auto; }
  header.header-bloglist .btnScrollDown {
    display: block;
    width: 100%;
    height: 40px;
    background-image: url("../imgs/blog/arrow-down.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 0; }

@media (min-width: 768px) {
  header.header-bloglist .hero-header h1 {
    font-size: 50px; }
  header.header-bloglist .hero-header p {
    font-size: 20px;
    max-width: 100%; }
    header.header-bloglist .hero-header p span {
      display: block; } }
@media (min-width: 992px) {
  header.header-bloglist .hero-header h1 {
    font-size: 70px; }
  header.header-bloglist .hero-header p {
    font-size: 30px; } }
.blog-list {
  padding: 50px 0 0 0; }
  .blog-list .blog-item {
    margin: 40px auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    .blog-list .blog-item:hover {
      background-color: #d93c00; }
      .blog-list .blog-item:hover .blog-thumb {
        background-color: #000; }
        .blog-list .blog-item:hover .blog-thumb img {
          opacity: 0.5; }
        .blog-list .blog-item:hover .blog-thumb .blog-circle-group {
          display: block; }
    .blog-list .blog-item .white-bg {
      background-color: #ffffff; }
      .blog-list .blog-item .white-bg:after {
        content: '';
        display: block;
        clear: both; }
    .blog-list .blog-item .blog-thumb, .blog-list .blog-item .blog-content {
      display: block; }
    .blog-list .blog-item .blog-thumb {
      position: relative;
      width: 100%;
      border-radius: 0;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
      .blog-list .blog-item .blog-thumb img {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        border-radius: 0; }
      .blog-list .blog-item .blog-thumb .blog-circle-group {
        display: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        margin-top: -29px;
        width: 100%;
        text-align: center; }
      .blog-list .blog-item .blog-thumb .btn-circle {
        display: inline-block;
        width: 58px;
        height: 58px;
        margin: 0 10px; }
      .blog-list .blog-item .blog-thumb .btn-plus {
        background-image: url("../imgs/blog/icon-plus.png"); }
      .blog-list .blog-item .blog-thumb .btn-share {
        background-image: url("../imgs/blog/icon-share.png"); }
    .blog-list .blog-item .blog-content {
      width: 100%;
      padding: 0px 50px;
      text-align: center; }
      .blog-list .blog-item .blog-content h2 {
        font-weight: bold; }
        .blog-list .blog-item .blog-content h2 a {
          color: #000000; }
      .blog-list .blog-item .blog-content p {
        font-size: 18px;
        line-height: 30px;
        padding-top: 12px; }
      .blog-list .blog-item .blog-content .sociallist {
        text-align: center;
        margin-top: 20px; }
        .blog-list .blog-item .blog-content .sociallist .icon {
          display: inline-block;
          width: 28px;
          height: 28px;
          margin: 0 10px;
          opacity: 0.7;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease; }
          .blog-list .blog-item .blog-content .sociallist .icon:hover {
            opacity: 1; }
        .blog-list .blog-item .blog-content .sociallist .icon-facebook {
          background-image: url("../imgs/blog/facebook.png"); }
        .blog-list .blog-item .blog-content .sociallist .icon-twitter {
          background-image: url("../imgs/blog/twitter.png"); }
        .blog-list .blog-item .blog-content .sociallist .icon-instagram {
          background-image: url("../imgs/blog/instagram.png"); }
  .blog-list .blog-even .blog-thumb, .blog-list .blog-even .blog-content {
    float: left; }
  .blog-list .blog-odd .blog-thumb, .blog-list .blog-odd .blog-content {
    float: right; }
  .blog-list .list-pager {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 20px;
    margin-top: 20px; }
    .blog-list .list-pager ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .blog-list .list-pager ul li {
        display: inline-block; }
        .blog-list .list-pager ul li a {
          color: #666666;
          font-weight: bold;
          padding: 10px; }
          .blog-list .list-pager ul li a:hover {
            color: #d93c00; }

@media (min-width: 992px) {
  .blog-list .blog-item .blog-thumb, .blog-list .blog-item .blog-content {
    float: left; }
  .blog-list .blog-item .blog-thumb {
    width: 55%; }
  .blog-list .blog-item .blog-content {
    width: 45%; }
  .blog-list .blog-even .blog-thumb, .blog-list .blog-even .blog-content {
    float: left; }
  .blog-list .blog-even .blog-thumb {
    border-radius: 0 60px 0 0; }
    .blog-list .blog-even .blog-thumb img {
      border-radius: 0 60px 0 0; }
  .blog-list .blog-odd .blog-thumb, .blog-list .blog-odd .blog-content {
    float: right; }
  .blog-list .blog-odd .blog-thumb {
    border-radius: 60px 0 0 0; }
    .blog-list .blog-odd .blog-thumb img {
      border-radius: 60px 0 0 0; } }
header.header-blogdetail {
  display: block;
  background-image: url("../imgs/blog/header-detail-bg.jpg");
  padding-bottom: 40px; }

.blog-detail {
  margin-top: 65px; }
  .blog-detail h1 {
    color: #d93c00;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center; }
  .blog-detail .content {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    margin: auto;
    margin-top: 50px;
    max-width: 800px; }
  .blog-detail img {
    display: block;
    margin: 50px auto; }
  .blog-detail p {
    margin: 20px 0 10px 0; }
  .blog-detail .social-link {
    text-align: center; }
    .blog-detail .social-link a {
      display: inline-block;
      background-repeat: no-repeat;
      width: 92px;
      height: 33px;
      margin: 20px 0; }
    .blog-detail .social-link .facebook {
      background-image: url("../imgs/blog/share-facebook.png"); }
    .blog-detail .social-link .twitter {
      background-image: url("../imgs/blog/share-twitter.png"); }
    .blog-detail .social-link .in {
      background-image: url("../imgs/blog/share-linkedin.png"); }

header.header-about {
  display: block;
  background-image: url("../imgs/about/header-bg.jpg");
  padding-bottom: 220px; }

.page-about {
  margin-top: 35px;
  text-align: center; }
  .page-about h3, .page-about h1 {
    line-height: 1.5em;
    font-weight: bold; }
  .page-about .thai-content {
    margin: auto;
    max-width: 800px;
    line-height: 1.5em;
    font-size: 18px; }
  .page-about .before-eng-content {
    margin-top: 30px;
    font-weight: bold;
    line-height: 2em;
    font-size: 18px; }
  .page-about .eng-content {
    margin: auto;
    max-width: 800px; }
  .page-about .social-link a {
    display: inline-block;
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    margin: 20px 10px; }
  .page-about .social-link .facebook {
    background-image: url("../imgs/about/icon-facebook.png"); }
  .page-about .social-link .twitter {
    background-image: url("../imgs/about/icon-twitter.png"); }
  .page-about .social-link .instagram {
    background-image: url("../imgs/about/icon-instagram.png"); }

header.header-contact {
  display: block;
  background-image: url("../imgs/contact/header-bg.jpg");
  padding-bottom: 220px; }

.page-contact a {
  color: #000000; }
  .page-contact a:hover {
    color: #d93c00; }
.page-contact .container {
  margin-bottom: 60px; }
.page-contact h1 {
  margin-top: 80px;
  font-weight: bold;
  text-align: center; }
.page-contact .contact-content:after {
  content: "";
  display: block;
  clear: both; }
.page-contact .content, .page-contact .map {
  display: block;
  float: left; }
.page-contact .content {
  margin-top: 50px;
  width: 100%;
  font-size: 18px; }
  .page-contact .content .contact-into {
    margin: 15px 0;
    font-weight: bold; }
  .page-contact .content .contact-telmail {
    margin-bottom: 60px; }
  .page-contact .content .contact-social {
    margin: 60px 0; }
  .page-contact .content .contact-address {
    margin-top: 60px; }
.page-contact .map {
  width: 100%;
  background-color: #333;
  height: 300px;
  margin: 50px 0; }

@media (min-width: 992px) {
  .page-contact .content {
    width: 40%;
    margin-top: 50px; }
  .page-contact .map {
    width: 60%;
    height: 410px;
    margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
